---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About me">
    <div class="h-full w-full xl:w-1/2 md:w-2/3 p-4 md:p-8 text-content bg-e6n-black light-mode:bg-white">
        <h1 class="text-white light-mode:text-gray-800 text-4xl italic mb-4">About me</h1>
        <p class="pb-3 ext-white light-mode:text-gray-800 text-xl">My name is Luka Peharda and I'am a <span class="text-e6n-red">PHP</span> &amp; <span class="text-e6n-blue">JS</span> developer with over 10 years of experience!</p>
        <p class="pb-3 text-white light-mode:text-gray-800 text-xl">Currently I'm working for <a href="https://optimizepress.com/" class="border-b border-e6n-blue hover:bg-e6n-blue" target="_blank">OptimizePress</a> crafting bespoke checkout experience and integrating a lot of externals services and APIs into a seamless flow.</p>
        <p class="pb-3 text-white light-mode:text-gray-800 text-xl">Beside working on OptimizePress payment system, I'm also developing <a href="https://kourses.com/" class="border-b border-e6n-green hover:bg-e6n-green" target="_blank">Kourses</a>, an online course &amp; membership platform.</p>

        <p class="pb-3 text-white light-mode:text-gray-800 text-xl">You can check some of my <a class="border-b border-e6n-yellow hover:bg-e6n-yellow" href="/projects/">active personal projects here</a>, <a class="border-b border-e6n-yellow hover:bg-e6n-yellow" href="/projects/list/">past, failures and on-going projects here</a>, and links to my social network profiles are in the bottom <span class="hidden md:inline">right</span> of the page.</p>

        <p class="pb-3 text-white light-mode:text-gray-800 text-xl">I'm also a co-organiser of a local developer meetup called <a href="https://www.meetup.com/en-AU/Devz-Meetup-Vara%C5%BEdin/" target="_blank" class="border-b border-e6n-red hover:bg-e6n-red">Devz Meetup Varaždin</a>.</p>

        <p class="pb-3 text-white light-mode:text-gray-800 text-xl">I like to read a lot and listen to podcasts so if interested take a look at my <a class="border-b border-e6n-green hover:bg-e6n-green" href="/recommendations/">recommendations</a>.</p>

        <p class="text-white light-mode:text-gray-800 text-xl">Programming is more than a work for me. It is a calling :-) A mean to express myself creatively and to harness my brain power to create something that potenitally a lot of people will use. I won't lie, it can be frustrating, there are good and bad days, but more often than not it is exceptionally fullfilling.</p>
    </div>
</MainLayout>
