---
import MainLayout from '../layouts/MainLayout.astro';

const now = new Date('2023-10-12');
---

<MainLayout title="What I'm doing right now" description="This page tells you what I'm working on at the moment and what are my current interests">
    <div class="flex-grow bg-e6n-black light-mode:bg-white">
        <div class="h-full w-full xl:w-1/2 md:w-2/3 p-4 md:p-8 text-content">
            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">This isn't an <a class="border-b border-e6n-red hover:bg-e6n-red" href="/about">about</a> page.</p>
            <p class="text-white light-mode:text-slate-800 text-xl">It's <a class="border-b border-e6n-blue hover:bg-e6n-blue" href="https://nownownow.com/about/" target="_blank">now</a> page. It tells you what I'm working on at the moment and what are my current interests.</p>

            <h1 class="text-white light-mode:text-slate-800 italic text-4xl mt-8">What I'm doing right <span class="text-e6n-yellow">now</span></h1>
            <p class="text-slate-400 light-mode:text-slate-800 text-sm pb-4">{ now.toDateString() }</p>

            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">I'm polishing UI for <a href="https://kourses.com/" class="border-b border-e6n-blue hover:bg-e6n-blue" target="_blank">Kourses</a> and fixing issues found by our testing team. Slowly but surely the product will be available for our beta testers. Seems both terrifying and exhilarating to be so near the public release after 6 years from first commit.</p>

            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">I've converted my personal page (this one) to use <a href="https://astro.build/" class="border-b border-e6n-red hover:bg-e6n-red" target="_blank">Astro</a> instead of GatsbyJS. Reasons for doing so you can find in the accompanying <a href="/article/why-i-migrated-to-astro-from-gatsby/" class="border-b border-e6n-yellow hover:bg-e6n-yellow">article</a>.</p>
        </div>
    </div>
</MainLayout>
