---
import MainLayout from '../layouts/MainLayout.astro';
import Divider from '../components/Divider.astro';

const now = new Date('2024-10-03');
---

<MainLayout title="What I'm doing right now" description="This page tells you what I'm working on at the moment and what are my current interests">
    <div class="flex-grow bg-e6n-black light-mode:bg-white">
        <div class="h-full w-full xl:w-1/2 md:w-2/3 p-4 md:p-8 text-content">
            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">This isn't an <a class="border-b border-e6n-red hover:bg-e6n-red" href="/about">about</a> page.</p>
            <p class="text-white light-mode:text-slate-800 text-xl">It's <a class="border-b border-e6n-blue hover:bg-e6n-blue" href="https://nownownow.com/about/" target="_blank">now</a> page. It tells you what I'm working on at the moment and what are my current interests.</p>

            <h1 class="text-white light-mode:text-slate-800 italic text-4xl mt-8">What I'm doing right <span class="text-e6n-yellow">now</span></h1>
            <p class="text-slate-400 light-mode:text-slate-800 text-sm pb-4">{ now.toDateString() }</p>

            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">Almost six months have passed since my last update and I've been mainly working on the same things - adding Stripe payments to <a href="https://kourses.com/" class="border-b border-e6n-blue hover:bg-e6n-blue" target="_blank">Kourses</a>.</p>
            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">I thought I would be finished in two months but as this is almost mission-critical code we wanted to spend extra time for testing and polishing. Besides, we ended up adding a lot more features than we initially planned as we wanted to give our customers freedom to setup payments according to their needs.</p>
            <p class="pb-3 text-white light-mode:text-slate-800 text-xl">And of course, we need to have everything our competitors have as well 😜</p>
        </div>
    </div>
</MainLayout>
